.center {
    text-align: center;
}

.center-img {
    width: 50%;
    border-radius: 50%;
    margin: 0 auto;
}

.img {
    border: 4px solid #0e5fc1;
    /* padding: 10px; */
    border-radius: 16px;
}

.backgrounds {
    filter: blur(5px);
}

h1 .white-text {
    color: white;
}